<div class="column-wrapper">
  @for(column of columns; track column.id) {
  <div class="card column-card">
    <app-columnheader
      [column]="column"
      [isEditing]="editingColumnId === column.id"
      [editedName]="editedColumnName"
      (editStart)="startEditingColumn(column)"
      (save)="saveColumnName(column.id, $event)"
      (cancel)="cancelEditingColumn()"
      (delete)="deleteColumn(column.id)">
    </app-columnheader>

    <div class="tasks-list">
      @for(task of column.tasks; track task.id) {
      <app-task [task]="task" [isEditing]="editingTaskId === task.id" [editedName]="editedTaskName"
        (edit)="startEditingTask(task)" (save)="saveTaskName(task.id, column.id)" (cancel)="cancelEditingTask()"
        (delete)="deleteTask(task.id)">
      </app-task>
      }
    </div>

    @if(addingTaskToColumnId === column.id) {
      <app-task-form
      [taskName]="newTaskName"
      (taskSubmitted)="addTask($event, column.id)"
      (cancel)="cancelAddingTask()">
    </app-task-form>
    } @else {
    <button class="btn-primary" (click)="startAddingTask(column.id)">
      <div class="flex align-center gap-1">
        <i class="fa-solid fa-plus"></i>
        Adicionar tarefa
      </div>
    </button>
    }
  </div>
  }
</div>